@import url("https://fonts.googleapis.com/css2?family=Asap:ital,wght@0,400;0,700;1,400;1,700&family=Marck+Script&family=Nunito+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap");
.id-card {
  width: 100%;
  margin: 3rem 0;
  padding: 0 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  align-content: center;
  flex-wrap: wrap;
  text-align: center;
}
@media (min-width: 601px) {
  .id-card {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    align-content: center;
    flex-wrap: wrap;
  }
}
@media (min-width: 601px) {
  .id-card figure {
    width: 30%;
  }
}
@media (min-width: 768px) {
  .id-card figure {
    width: 40%;
  }
}
.id-card .round-picture {
  width: 40vw;
  height: 40vw;
  border-radius: 50%;
  -webkit-box-shadow: 2px 2px 10px 2px #a1a1a1;
  box-shadow: 2px 2px 10px 2px #a1a1a1;
}
@media (min-width: 601px) {
  .id-card .round-picture {
    width: 25vw;
    height: 25vw;
    border-radius: 50%;
  }
}
@media (min-width: 768px) {
  .id-card .round-picture {
    width: 15vw;
    height: 15vw;
    border-radius: 50%;
  }
}
.id-card .id-text {
  padding: 2rem 0 0 0;
  text-align: justify;
}
@media (min-width: 768px) {
  .id-card .id-text {
    padding: 2rem;
  }
}
.id-card .id-text p {
  width: 100%;
  font-size: 1rem;
}
@media (min-width: 601px) {
  .id-card .id-text {
    width: 70%;
  }
}
@media (min-width: 768px) {
  .id-card .id-text {
    width: 60%;
  }
  .id-card .id-text p {
    width: 90%;
  }
}

.highlights {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  align-content: normal;
  flex-wrap: wrap;
  gap: 30px;
  text-align: center;
  text-transform: uppercase;
  font-size: 0.7rem;
  font-weight: bold;
}
@media (min-width: 601px) {
  .highlights {
    gap: 60px;
  }
}
.highlights figcaption {
  margin-top: 0.5rem;
  cursor: pointer;
}
.highlights .round-picture {
  width: 16vw;
  height: 16vw;
  border-radius: 50%;
  -webkit-box-shadow: 2px 2px 10px 2px #a1a1a1;
  box-shadow: 2px 2px 10px 2px #a1a1a1;
  cursor: pointer;
  max-width: 120px;
  max-height: 120px;
}
@media (min-width: 601px) {
  .highlights .round-picture {
    width: 11vw;
    height: 11vw;
    border-radius: 50%;
  }
}
@media (min-width: 1075px) {
  .highlights .round-picture {
    width: 120px;
    height: 120px;
    border-radius: 50%;
  }
}

.pagination {
  padding: 3rem 0;
  text-align: center;
}
.pagination ul {
  padding-bottom: 2rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  align-content: normal;
  flex-wrap: wrap;
  text-transform: uppercase;
  font-weight: bold;
  gap: 35px;
}
.pagination ul li {
  padding-top: 0.5rem;
}
.pagination ul li a.active {
  border-top: 3px solid #448887;
}

.gallery {
  box-sizing: border-box;
  margin-bottom: 3rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  align-content: normal;
  flex-wrap: wrap;
}
.gallery figure {
  margin-bottom: 2.1vw;
}
.gallery .square-picture {
  width: 80vw;
  height: 80vw;
}
@media (min-width: 500px) {
  .gallery .square-picture {
    width: 45vw;
    height: 45vw;
  }
}
@media (min-width: 601px) {
  .gallery .square-picture {
    width: 30vw;
    height: 30vw;
  }
}
@media (min-width: 1075px) {
  .gallery .square-picture {
    width: 23vw;
    height: 23vw;
  }
}

.social-links {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  align-content: normal;
  flex-wrap: wrap;
  gap: 25px;
}

.language {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  align-content: normal;
  flex-wrap: wrap;
}

.flip-card-container {
  perspective: 1000;
}

.flip {
  transform: rotateY(180deg);
}

.flipper {
  box-sizing: border-box;
  transition: 0.6s;
  transform-style: preserve-3d;
  position: relative;
  cursor: pointer;
}

.card-front {
  width: 100%;
  backface-visibility: hidden;
  position: absolute;
  top: 0;
  z-index: 2;
}

.card-back {
  width: 100%;
  position: absolute;
  top: 0;
  backface-visibility: hidden;
  transform: rotateY(180deg);
}

.post-page .banner {
  box-sizing: border-box;
  margin: 2rem 2rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  align-content: normal;
  flex-wrap: wrap;
}
@media (min-width: 768px) {
  .post-page .banner {
    margin: 3rem 2rem;
  }
}
.post-page .banner .banner-picture {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  align-content: center;
  flex-wrap: nowrap;
  width: 100%;
  background-image: url("../../assets/3.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
@media (min-width: 768px) {
  .post-page .banner .banner-picture {
    height: 23vw;
  }
}
.post-page .main-menu {
  width: fit-content;
  margin-right: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  align-content: center;
  flex-wrap: nowrap;
  gap: 2rem;
  background-color: rgba(252, 252, 250, 0.7529411765);
}
.post-page .post-title {
  font-size: 2rem;
}
.post-page .post-title {
  background-color: rgba(252, 252, 250, 0.7529411765);
  width: fit-content;
  margin: 2.5rem;
  padding: 0.5rem;
  text-align: center;
}
.post-page main {
  width: 100%;
  margin-bottom: 3rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  align-content: normal;
  flex-wrap: wrap;
}
@media (min-width: 768px) {
  .post-page main {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    align-content: normal;
    flex-wrap: wrap;
  }
}
.post-page main section {
  padding: 0 2rem;
}
@media (min-width: 768px) {
  .post-page main section {
    width: 65%;
  }
}
.post-page main aside {
  margin-top: 2rem;
  padding: 0 2rem;
}
@media (min-width: 768px) {
  .post-page main aside {
    width: 35%;
    margin-top: 0;
  }
}
.post-page main textarea {
  width: 100%;
  height: 100px;
  border: 2px solid #99cccd;
}
.post-page .post-area {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: normal;
  align-content: normal;
  flex-wrap: nowrap;
}
.post-page .post {
  margin-bottom: 3rem;
}
.post-page .post p {
  margin-bottom: 1rem;
}
.post-page button {
  margin: 1rem 0 3rem 0;
  padding: 10px 20px;
  align-self: flex-end;
  background-color: #448887;
  border: none;
  color: #fcfcfa;
  text-transform: uppercase;
}
.post-page .comment {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  align-content: normal;
  flex-wrap: nowrap;
  font-size: 0.8rem;
}
@media (min-width: 768px) {
  .post-page .comment {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    align-content: normal;
    flex-wrap: nowrap;
    gap: 2rem;
  }
}
.post-page .comment .round-picture {
  width: 85px;
  height: 85px;
  border-radius: 50%;
  -webkit-box-shadow: 2px 2px 10px 2px #a1a1a1;
  box-shadow: 2px 2px 10px 2px #a1a1a1;
}
.post-page .comment .text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  align-content: normal;
  flex-wrap: nowrap;
  gap: 0.5rem;
}
.post-page .categories {
  margin: 2rem 0;
  padding: 3rem 0;
  background-color: #f2a24b;
  text-align: center;
  line-height: 3rem;
  font-size: 120%;
  color: #fcfcfa;
  border-radius: 8px;
}
.post-page .recent-posts {
  padding: 1rem;
  border: 2px dotted #5e5e5e;
  font-size: 0.8rem;
}
.post-page .recent-posts h3 {
  font-size: 1.2rem;
  font-weight: bold;
}
.post-page .recent-posts figure {
  margin: 1.5rem 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  align-content: normal;
  flex-wrap: nowrap;
  gap: 0.5rem;
}
.post-page .recent-posts figure:nth-child(3) {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: space-between;
  align-content: normal;
  flex-wrap: nowrap;
}
.post-page .recent-posts figure:last-child {
  margin: 0;
}
.post-page .recent-posts .square-picture {
  width: 40%;
  height: 40%;
}

.curriculum h3 {
  text-transform: uppercase;
}
.curriculum span {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  align-content: normal;
  flex-wrap: nowrap;
  font-weight: bold;
}
.curriculum .section-area {
  margin-bottom: 2rem;
}
.curriculum hr {
  margin-bottom: 0.5rem;
}
.curriculum .progressbar {
  margin-bottom: 1.5rem;
}
.curriculum .progressbar:last-child {
  margin-bottom: 0;
}
.curriculum .bar-container {
  height: 1rem;
  border: 1px solid #dd7649;
}
.curriculum .bar-fill {
  height: 100%;
  background-color: #dd7649;
}
.curriculum .n1 {
  width: 60%;
}
.curriculum .n2 {
  width: 25%;
}
.curriculum .n3 {
  width: 90%;
}
.curriculum .n4 {
  width: 75%;
}
.curriculum .n5 {
  width: 40%;
}
.curriculum main {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: space-between;
  align-content: normal;
  flex-wrap: wrap;
}
@media (min-width: 768px) {
  .curriculum main {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    justify-content: space-between;
    align-content: normal;
    flex-wrap: wrap;
  }
}
.curriculum main section {
  padding: 0 2rem 2rem 2rem;
}
@media (min-width: 768px) {
  .curriculum main section {
    width: 65%;
  }
}
.curriculum main section li {
  margin-top: 2rem;
}
.curriculum main aside {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: space-between;
  align-content: normal;
  flex-wrap: wrap;
  padding: 2rem;
  background-color: #f2a24b;
  text-align: center;
  font-weight: bold;
}
@media (min-width: 768px) {
  .curriculum main aside div {
    line-height: 2.5vw;
  }
}
.curriculum main aside div h3 {
  background-color: #5e5e5e;
  color: #fcfcfa;
  margin-bottom: 2rem;
  margin-top: 2rem;
  font-size: 95%;
}
@media (min-width: 768px) {
  .curriculum main aside div h3 {
    margin-top: 1rem;
    margin-bottom: 1rem;
  }
}
.curriculum main aside div:nth-child(1) h3 {
  margin-top: -45px;
  margin-bottom: 1.5rem;
}
@media (min-width: 768px) {
  .curriculum main aside {
    width: 30%;
  }
}

/* Copyright 2022 Naira Cirino | License CC BY-NC-SA
   Learn more in https://creativecommons.org/licenses/by-nc-sa/4.0/ */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.hide {
  display: none;
}

html {
  scroll-behavior: smooth;
}

body {
  width: 100%;
  height: 100%;
  background-color: #fff;
  font-family: "Nunito Sans", sans-serif;
  font-size: 16px;
  color: #5e5e5e;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  align-content: center;
  flex-wrap: nowrap;
}

.container {
  width: 100%;
  background-color: #fcfcfa;
}

@media (min-width: 1075px) {
  .container {
    width: 80%;
    max-width: 1200px;
    background-color: #fcfcfa;
    -webkit-box-shadow: 2px 2px 10px 2px #a1a1a1;
    box-shadow: 2px 2px 10px 2px #a1a1a1;
  }
}
ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

select {
  border: none;
  color: inherit;
}

h1 {
  font-size: 1.5rem;
  text-transform: uppercase;
}

h2 {
  font-size: 1.3rem;
}

.top-bar {
  padding: 0.5rem 0;
  background-color: #448887;
  color: #fcfcfa;
  text-align: center;
  text-transform: uppercase;
  font-size: 0.5rem;
  letter-spacing: 2vw;
}
@media (min-width: 601px) {
  .top-bar {
    letter-spacing: 1rem;
  }
}

footer {
  padding: 0.5rem 1rem;
  background-color: #99cccd;
  color: #448887;
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  justify-content: space-between;
  align-content: center;
  flex-wrap: wrap;
  gap: 1rem;
}
@media (min-width: 768px) {
  footer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    align-content: center;
    flex-wrap: wrap;
    gap: 0;
  }
  footer .social-links,
footer .language,
footer .copyright {
    width: 30%;
  }
}
footer .round-picture {
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 50%;
  -webkit-box-shadow: 2px 2px 10px 2px #a1a1a1;
  box-shadow: 2px 2px 10px 2px #a1a1a1;
}

/*# sourceMappingURL=style.css.map */
