@charset "UTF-8";

@use "style-guide";
@use "mixins";

//general styles

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100%;
    background-color: #fff;
    font: {
        family: style-guide.$sans-serif1;
        size: 14px;
    }
    color: style-guide.$black;
    @include mixins.flex-rule(column, center, center, center, nowrap);
}

.container {
    width: 80%;
    max-width: 1200px;
    background-color: style-guide.$white;
    @include mixins.square;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    &:hover {
        text-decoration: overline;
    }
}

h1 {
    font-size: 1.5rem;
    text-transform: uppercase;
}

h2 {
    font-size: 1.3rem;
}

// header

.top-bar {
    padding: 0.5rem 0;
    background-color: style-guide.$black;
    color: style-guide.$white;
    text: {
        align: center;
        transform: uppercase;
    }
    font-size: 0.5rem;
    letter-spacing: 1rem;
}

.id-card {
    width: 100%;
    margin: 5rem 0;
    padding: 2rem;
    @include mixins.flex-rule(row, center, space-evenly, center, wrap);
    text-align: center;

    figure {
        width: 40%;
    }

    .round-picture {
        @include mixins.round-pictures(15vw);
        @include mixins.square;
    }

    .id-text {
        width: 60%;
        padding: 2rem;
        text-align: justify;

        p {
            width: 90%;
            font-size: 1rem;
        }
    }
}

.highlights {
    @include mixins.flex-rule(row, center, center, normal, wrap);
    gap: 60px;
    text: {
        align: center;
        transform: uppercase;
    }
    font: {
        size: 0.7rem;
        weight: bold;
    }
    .round-picture {
        @include mixins.round-pictures(120px);
        @include mixins.square;
    }
}

.pagination {
    padding: 3rem 0;
    text-align: center;

    ul {
        padding-bottom: 2rem;
        @include mixins.flex-rule(row, center, center, normal, wrap);
        text-transform: uppercase;
        gap: 35px;

        li {
            padding-top: .5rem;

            &.active {
                border-top: 3px solid red;
            }
        }
    }
}

.gallery {
    box-sizing: border-box;
    margin-bottom: 5rem;
    @include mixins.flex-rule(row, center, space-evenly, normal, wrap);

    figure {
        margin-bottom: 2.1vw;
    }

    .square-picture {
        @include mixins.square-pictures(23vw);
    }
}

footer {
    padding: 0.5rem 1rem;
    @include mixins.flex-rule(row, center, space-between, center, wrap);

    .social-links,
    .language,
    .copyright {
        width: 30%;
    }

    .round-picture {
        @include mixins.round-pictures(1.5rem);
        @include mixins.square;
    }
}

.social-links {
    @include mixins.flex-rule(row, center, flex-end, normal, wrap);
    gap: 5px;
}

.language {
    @include mixins.flex-rule(row, center, center, normal, wrap);
}
