@charset "UTF-8";

@use "style-guide";
@use "mixins";

// header

.id-card {
    width: 100%;
    margin: 3rem 0;
    padding: 0 2rem;
    @include mixins.flex-rule(row, center, space-evenly, center, wrap);
    text-align: center;

    figure {
        width: 40%;
    }

    .round-picture {
        @include mixins.round-pictures(15vw);
        @include mixins.square;
    }

    .id-text {
        width: 60%;
        padding: 2rem;
        text-align: justify;

        p {
            width: 90%;
            font-size: 1rem;
        }
    }
}

.highlights {
    @include mixins.flex-rule(row, center, center, normal, wrap);
    gap: 60px;
    text: {
        align: center;
        transform: uppercase;
    }
    font: {
        size: 0.7rem;
        weight: bold;
    }
    figcaption {
        margin-top: .5rem;
        cursor: pointer;
    }
    .round-picture {
        @include mixins.round-pictures(120px);
        @include mixins.square;
        cursor: pointer;
    }
}

.pagination {
    padding: 3rem 0;
    text-align: center;

    ul {
        padding-bottom: 2rem;
        @include mixins.flex-rule(row, center, center, normal, wrap);
        text-transform: uppercase;
        font-weight: bold;
        gap: 35px;

        li {
            padding-top: .5rem;

            a.active {
                border-top: 3px solid style-guide.$dark-color1;
            }
        }
    }
}

.gallery {
    box-sizing: border-box;
    margin-bottom: 5rem;
    @include mixins.flex-rule(row, center, space-evenly, normal, wrap);

    figure {
        margin-bottom: 2.1vw;
    }

    .square-picture {
        @include mixins.square-pictures(23vw);
    }
}

footer {
    padding: 0.5rem 1rem;
    @include mixins.flex-rule(row, center, space-between, center, wrap);
    background-color: style-guide.$light-color1;
    color: style-guide.$dark-color1;

    .social-links,
    .language,
    .copyright {
        width: 30%;
    }

    .round-picture {
        @include mixins.round-pictures(1.5rem);
        @include mixins.square;
    }
}

.social-links {
    @include mixins.flex-rule(row, center, flex-end, normal, wrap);
    gap: 25px;
}

.language {
    @include mixins.flex-rule(row, center, center, normal, wrap);
}
