@charset "UTF-8";

@use "style-guide";
@use "mixins";

// header

.id-card {
    width: 100%;
    margin: 3rem 0;
    padding: 0 2rem;
    @include mixins.flex-rule(column, center, space-evenly, center, wrap);
    @media (min-width: 601px) {
        @include mixins.flex-rule(row, center, space-evenly, center, wrap);
    }

    text-align: center;

    @media (min-width: 601px) {
        figure {
            width: 30%;
        }
    }

    @media (min-width: 768px) {
        figure {
            width: 40%;
        }
    }

    .round-picture {
        @include mixins.round-pictures(40vw);
        @include mixins.square;
    }

    @media (min-width: 601px) {
        .round-picture {
            @include mixins.round-pictures(25vw);
        }
    }

    @media (min-width: 768px) {
        .round-picture {
            @include mixins.round-pictures(15vw);
        }
    }

    .id-text {

        padding: 2rem 0 0 0;
        
        @media (min-width: 768px) {
            padding: 2rem;
        }
        text-align: justify;

        p {
            width: 100%;
            font-size: 1rem;
        }
    }

    @media (min-width: 601px) {
        .id-text {
            width: 70%;
        }
    }

    @media (min-width: 768px) {
        .id-text {
            width: 60%;

            p {
                width: 90%;
            }
        }
    }
}

.highlights {
    padding: 0rem 2rem;
    @include mixins.flex-rule(row, center, center, normal, wrap);
    gap: 30px;
    @media (min-width: 601px) {
        gap: 60px;
    }
    text: {
        align: center;
        transform: uppercase;
    }

    font: {
        size: 0.7rem;
        weight: bold;
    }

    figcaption {
        margin-top: 0.5rem;
        cursor: pointer;
    }

    .round-picture {
        @include mixins.round-pictures(24vw);
        @media (min-width: 601px) {
        @include mixins.round-pictures(16vw);
        }
        @include mixins.square;
        cursor: pointer;
        max-width: 120px;
        max-height: 120px;
    }

    @media (min-width: 601px) {
        .round-picture {
            @include mixins.round-pictures(11vw);
        }
    }

    @media (min-width: 1075px) {
        .round-picture {
            @include mixins.round-pictures(120px);
        }
    }
}

.pagination {
    padding: 3rem 2rem;
    text-align: center;

    ul {
        padding-bottom: 2rem;
        @include mixins.flex-rule(row, center, center, normal, wrap);
        text-transform: uppercase;
        font-weight: bold;
        gap: 35px;

        li {
            padding-top: 0.5rem;

            a.active {
                border-top: 3px solid style-guide.$dark-color1;
            }
        }
    }
}

.gallery {
    box-sizing: border-box;
    margin-bottom: 3rem;
    @include mixins.flex-rule(row, center, space-evenly, normal, wrap);

    figure {
        margin-bottom: 2.1vw;
    }

    .square-picture {
        @include mixins.square-pictures(80vw);
    }

    @media (min-width: 500px) {
        .square-picture {
            @include mixins.square-pictures(45vw);
        }
    }

    @media (min-width: 601px) {
        .square-picture {
            @include mixins.square-pictures(30vw);
        }
    }

    @media (min-width: 1075px) {
        .square-picture {
            @include mixins.square-pictures(23vw);
        }
    }
}

.social-links {
    @include mixins.flex-rule(row, center, flex-end, normal, wrap);
    gap: 25px;
}

.language {
    @include mixins.flex-rule(row, center, center, normal, wrap);
}

.flip-card-container {
    perspective: 1000px;
}

.flip {
    transform: rotateY(180deg);
}

.flipper {
    box-sizing: border-box;
    transition: 0.6s;
    transform-style: preserve-3d;
    position: relative;
    cursor: pointer;
}

.card-front {
    width: 100%;
    backface-visibility: hidden;
    position: absolute;
    top: 0;
    z-index: 2;
}

.card-back {
    width: 100%;
    position: absolute;
    top: 0;
    backface-visibility: hidden;
    transform: rotateY(180deg);
}
