@charset "UTF-8";

@use "style-guide";
@use "mixins";

.post-page {
    .banner {
        box-sizing: border-box;
        margin: 2rem 2rem;
        @media (min-width: 768px) {
            margin: 3rem 2rem;
        }
        @include mixins.flex-rule(row, center, space-evenly, normal, wrap);

        .banner-picture {
            @include mixins.flex-rule(row, center, space-between, center, nowrap);
            width: 100%;
            @media (min-width: 768px) {
                height: 23vw;
            }
            background-image: url("../../assets/3.jpg");
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
        }
    }

    .main-menu {
        width: fit-content;
        margin-right: 2rem;
        @include mixins.flex-rule(column, center, center, center, nowrap);
        gap: 2rem;
        background-color: style-guide.$white-transparency;
    }

    .post-title {
        font-size: 2rem;
    }

    .post-title {
        background-color: style-guide.$white-transparency;
        width: fit-content;
        margin: 2.5rem;
        padding: 0.5rem;
        text-align: center;
    }

    main {
        width: 100%;
        margin-bottom: 3rem;
        @include mixins.flex-rule(column, flex-start, space-between, normal, wrap);
        @media (min-width: 768px) {
            @include mixins.flex-rule(row, flex-start, space-between, normal, wrap);
        }

        section {
            @media (min-width: 768px) {
                width: 65%;
            }
            padding: 0 2rem;
        }

        aside {

            margin-top: 2rem;
            @media (min-width: 768px) {
                width: 35%;
                margin-top: 0;
            }
            padding: 0 2rem;
        }

        textarea {
            width: 100%;
            height: 100px;
            border: 2px solid style-guide.$light-color1;
        }
    }

    .post-area {
        @include mixins.flex-rule(column, flex-start, normal, normal, nowrap);
    }

    .post {
        margin-bottom: 3rem;

        p {
            margin-bottom: 1rem;
        }
    }

    button {
        margin: 1rem 0 3rem 0;
        padding: 10px 20px;
        align-self: flex-end;
        background-color: style-guide.$dark-color1;
        border: none;
        color: style-guide.$white;
        text-transform: uppercase;
    }

    .comment {
        @include mixins.flex-rule(column, flex-start, space-between, normal, nowrap);
        @media (min-width: 768px) {
            @include mixins.flex-rule(row, center, space-between, normal, nowrap);
            gap: 2rem;
        }
        font-size: 0.8rem;

        .round-picture {
            @include mixins.round-pictures(85px);
            @include mixins.square;
        }

        .text {
            @include mixins.flex-rule(column, flex-start, space-between, normal, nowrap);
            gap: 0.5rem;
        }
    }

    .categories {
        margin: 2rem 0;
        padding: 3rem 0;
        background-color: style-guide.$light-color2;
        text-align: center;
        line-height: 3rem;
        font-size: 120%;
        color: style-guide.$white;
        border-radius: 8px;
    }

    .recent-posts {
        padding: 1rem;
        border: 2px dotted style-guide.$black;
        font-size: 0.8rem;

        h3 {
            font: {
                size: 1.2rem;
                weight: bold;
            }
        }

        figure {
            margin: 1.5rem 0;
            @include mixins.flex-rule(row, center, space-between, normal, nowrap);
            gap: 0.5rem;

            &:nth-child(3) {
                @include mixins.flex-rule(row-reverse, center, space-between, normal, nowrap);
            }

            &:last-child {
                margin: 0;
            }
        }

        .square-picture {
            @include mixins.square-pictures(40%);
        }
    }
}
