@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Asap:ital,wght@0,400;0,700;1,400;1,700&family=Marck+Script&family=Nunito+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');

$black: #252923;
$white: #fcfcfa;
$dark-neutral:#be9a7b;
$light-neutral: #f3e1d3;
$dark-color1: #448887;
$light-color1: #99cccd;
$dark-color2: #dd7649;
$light-color2: #f2a24b;

$cursive: 'Marck Script', cursive;
$sans-serif1: 'Nunito Sans', sans-serif;
$sans-serif2: 'Asap', sans-serif;
