/* Copyright 2022 Naira Cirino | License CC BY-NC-SA
   Learn more in https://creativecommons.org/licenses/by-nc-sa/4.0/ */

@charset "UTF-8";

@use "style-guide";
@use "portfolio";
@use "mixins";
@use "posts";
@use "curriculum";

//general styles

* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

.hide {
   display: none;
}

html {
   scroll-behavior: smooth;
}

body {
   width: 100%;
   height: 100%;
   background-color: #fff;
   font: {
      family: style-guide.$sans-serif1;
      size: 16px;
   }
   color: style-guide.$black;
   @include mixins.flex-rule(column, center, center, center, nowrap);
}

.container {
   width: 100%;
   background-color: style-guide.$white;
}

@media (min-width: 1075px) {
   .container {
      width: 80%;
      max-width: 1200px;
      background-color: style-guide.$white;
      @include mixins.square;
   }
}

ul {
   list-style: none;
}

a {
   text-decoration: none;
   color: inherit;
}

select {
   border: none;
   color: inherit;
}

h1 {
   font-size: 1.5rem;
   text-transform: uppercase;
}

h2 {
   font-size: 1.3rem;
}

//header

.top-bar {
   padding: 0.5rem 0;
   background-color: style-guide.$dark-color1;
   color: style-guide.$white;
   text: {
      align: center;
      transform: uppercase;
   }
   font-size: 0.5rem;
   letter-spacing: 2vw;

   @media (min-width: 601px) {
      letter-spacing: 1rem;
   }
}

// footer

footer {
   padding: 0.5rem 1rem;
   background-color: style-guide.$light-color1;
   color: style-guide.$dark-color1;
   @include mixins.flex-rule(column-reverse, center, space-between, center, wrap);
   gap: 1rem;
   @media (min-width: 768px) {
      @include mixins.flex-rule(row, center, space-between, center, wrap);
      gap: 0;
      .social-links,
      .language,
      .copyright {
         width: 30%;
      }
   }

   .round-picture {
      @include mixins.round-pictures(1.5rem);
      @include mixins.square;
   }
}
